.top {
    width: 800px; margin-left: auto; margin-right: auto;
}

.main_left {
    width: 600px; float: left;
}

.my-photo {
    width: 60px; 
    height: 60px; 
    float: left; 
    border-radius: 30px; 
    margin-right: 10px;
    line-height: 0;
}

.main_right {
    float: left; width: 200px; height: 200px;
}